logs/
obs/
rgb_frames/
__pycache__/
run_history/
info/
actions/
spatial_evaluation/samples
ground_truths/
predictions/
.vscode/
.env
spatial_evaluation/CVPR_scraper/chunks/
spatial_evaluation/CVPR_scraper/gpt_filtered/
